.App {
  background-image: url("img/fondo_nieve.jpg");
  text-align: center;
}
.FondoHijo{
  background-image: url("img/fondo.jpg");
  text-align: center;
}
.FondoAdmin{
  background-image: url("img/fondo-admin.jpg");
  background-size: cover;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#comentario{
  resize: none;
}
#publicacion{
  width: 100%;
}
#publicaciones{
  display: flex ;
  flex-wrap:wrap;
  flex-direction: row;
  height: 89vh;
  width: 200vh;
  padding: 1rem;
  overflow-y: scroll;
}
.App-header-Perfil-Santa{
  min-height: 174vh;
  display: flex;
  flex-direction:column;
  align-items: initial;
  font-size: calc(10px + 2vmin);
  color: white;
  height:max-content;
  top:10vh;
  left: 0vh;
}
.App-header-Mensajeria{
  min-height: 82.9vh;
  display: flex;
  flex-direction:row;
  align-items: initial;
  font-size: calc(10px + 2vmin);
  color: white;
  height:max-content;
  top:10vh;
  left: 0vh;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 48vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#cartas {
  display: flex ;
  flex-wrap:wrap;
  align-items: center;
  flex-direction:column;
  height: 100vh;
  width: 200vh;
  padding: 1rem;
  overflow-y: scroll;
}
#growth {
  display: flex ;
  flex-wrap: wrap;
  height: 100vh;
  width: 200vh;
  padding: 1rem;
  overflow-y: scroll;
}
#growth2 {
  display: flex ;
  flex-wrap: wrap;
  height: 100vh;
  width: 50%;
  overflow-y: scroll;
}
#growth5 {
  display: flex ;
  flex-wrap: wrap;
  height: 100vh;
  width: 50%;
  overflow-y: scroll;
}
#growth3 {
  background-image: url("img/carta_santa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display: flex ;
  flex-wrap: wrap;
  height: 100vh;
  width: 50%;
}
#elfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#mensajes{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 110vh;
  overflow-y: scroll;
}
#growth4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex ;
  flex-wrap: wrap;
  height: 100vh;
  width: 50%;
}

.App-header-hijo {
  background-image: url("img/feliz_navidad.png");
  text-align: center;
  margin-left: 28rem;
  padding: 1rem;
  min-height: 48vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 90vh;
}
.App-header-admin {
  background-image: url("img/feliz-navidad-admin.png");
  text-align: center;
  margin-left: 28rem;
  padding: 1rem;
  min-height: 48vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 91vh;
}
.App-header-admin-buenas{
  text-align: center;
  margin-left: 28rem;
  padding: 1rem;
  min-height: 48vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 91vh;
}
#tablaBuenasAcciones{
  position: absolute;
  top: 15%;
  left:2%;
  overflow-y: scroll;
  width: 63%;
  height: 70%;
}
#cargaMasiva{
  position: absolute;
  display: flex;
  flex-direction: column;
  top:50%;
  left:10%;
  color: black;
}
#tablaMensajes{
  position: absolute;
  top: 15%;
  left:2%;
  overflow-y: scroll;
  width: 40%;
  height: 70%;
}
#btnCrearBuenaAccion{
  position: absolute;
  top: 10%;
  left:2%;
}
.contenedor
{
  display: flex ;
  flex-wrap: wrap;
  height: 6vh;
  padding: 1rem;
}
.App-header-BuenasAcciones {
  min-height: 100vh;
  display: flex;
  flex-direction:unset;
  justify-content: center;
  align-items: initial;
  font-size: calc(10px + 2vmin);
  color: white;
  height:max-content;
  top:10vh;
  left: 0vh;
}
#bastones{
  position: absolute;
  top: 10vh;
  left: 3vh;
}
#carta{
  position: absolute;
  top: 53vh;
  left: 5vh;
  resize: none;
  width: 90vh;
}
#nombreCarta{
  position: absolute;
  top: 35vh;
  left: 15vh;
}
#btnEnviar{
  position: absolute;
  top: 45vh;
  left: 5vh;
}
.App-header-Redactar {
  min-height: 100vh;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: initial;
  font-size: calc(10px + 2vmin);
  color: white;
  height:max-content;
  top:10vh;
  left: 0vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
